* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.container h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-input {
  margin: 7px 8px;
  width: 70vw;
  border: 2px solid black;
  border-radius: 8px;
  padding: 7px 10px;
  outline: none;
}
.container {
  height: 124vh;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.container::before {
  content: "";
  background: url("./img/img12.jpg");
  background-size: cover;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.5;
  top: 0px;
  left: 0px;
  z-index: -1;
  height: 124vh;
  width: 100vw;
}
